/* Reseteo de márgenes y relleno global */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
	background: linear-gradient(24deg, #FF204E, #A0153E, #8a326b , #00224D ) no-repeat;
	background-size: 600% 600%;
	animation: gradient 10s ease infinite;
	height: 100vh;
    transition: opacity 1s ease-out;    
}

.page {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.page.fade-out {
    opacity: 0;
}

.page.fade-in {
    opacity: 1;
}

/* Botón de la flecha */
.btn-flecha {
    font-size: 18px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 20px;
    transition: transform 0.3s ease;
}

.btn-flecha:hover {
    transform: translateX(5px); /* Efecto hover de mover la flecha */
}

h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}


h1:hover {
    text-shadow: 0 0 0px #FFFFFF, 0 0 10px #FFFFFF;
    color: #FFFFFF;
}

h2{
    color: #FFFFFF;
    font-weight: 700;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* Estilo de la fila principal */
.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5% 0;
    gap: 60px;
}

/* Estilo para el título */
.contenido h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 3px;
    
}

/* Estilo para el contenido */
.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    max-width: 800px; /* Limita el ancho del contenido */
    padding: 20px;
}

/* Estilo para los párrafos dentro de contenido */
.contenido p, p strong {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Descripción debajo del título */
.descripcion2 {
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
    margin-top: 80px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

/* Estilo para las imágenes (sección de lenguajes) */
.d-flex {
    display: flex;
    overflow: hidden;
    margin-top: 50px;
    justify-content: space-around;
    gap: 20px;
}

.d-flex .slider-container {
    display: flex;
    animation: scroll 25s linear infinite; /* Mueve las imágenes de manera infinita */
    gap: 28px;
}

.d-flex img {
    width: 100px;
    height: 100px;
}

/* Animación de desplazamiento de las imágenes */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

h3, ul, li {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    text-align: center;
    color: #f0f0f0;
    font-size: 30px;
}

p, strong {
    font-size: 1.5rem;
    color: #f0f0f0;
    font-weight: 700;
    
  
}

strong{
    color: rgb(249, 181, 9);
    text-shadow: 0 0 0px rgb(249, 181, 9) , 0 0 10px rgb(249, 181, 9);
}


h3{
    font-size: 60px;
    font-weight:900;
}


@media (max-width: 368px){
    .contenido{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100vh;
        

    }

    .botones{
        margin-bottom: 20px;
        padding-bottom: 20px;
        height: 200px;

    }

    h3{
        margin-top: 100px;
    }
}