<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Portafolio-Personal/styles/Perfil.css">
    <title>P.G.S</title>
</head>
<body class="page">
    
    <div class="container py-5">
        <main>

            <div class="row d-flex">
                
                    <div class="contenido">
                        <h1 class="col-md-10 Titulo">Geofrey Salazar</h1>
                        <h2>Desarrollador de software</h2>
                        <p>
                            Soy <strong>Geofrey Salazar</strong>, un desarrollador de software en formación con una sólida base en desarrollo web. Con 6 meses de experiencia práctica, me he especializado en <strong>desarrollo web frontend</strong> y he trabajado con tecnologías como <strong>HTML5, CSS3, JavaScript, Python</strong> y <strong>Flask</strong>. Durante mi formación en el <strong>SENA (Servicio Nacional de Aprendizaje)</strong>, he tenido la oportunidad de construir proyectos reales, como un <strong>sistema de registro de entradas y salidas</strong>, donde apliqué mis conocimientos en desarrollo y diseño de soluciones funcionales.
                        </p>
                        <p>
                            Mi pasión por la programación va más allá de la codificación. Me esfuerzo por crear aplicaciones funcionales y elegantes, con un enfoque en mejorar la experiencia del usuario. Siempre estoy buscando aprender nuevas herramientas y tecnologías, así como también mejorar mis habilidades en metodologías ágiles y buenas prácticas de desarrollo.
                        </p>
                        <p>
                            A pesar de estar al principio de mi carrera, mi capacidad de aprendizaje rápido, atención al detalle y enfoque en soluciones innovadoras me permiten enfrentar nuevos retos con confianza. Estoy listo para seguir creciendo como desarrollador y contribuir a proyectos que marquen la diferencia.
                        </p>
                    </div>
                  <div class="botones">  
                    <button id="go-to-experience" class="btn-flecha">
                        &#8592;
                        Ir a Projectos
                    </button>
                    <button id="go-to-skills" class="btn-flecha">
                        &#8594; <!-- Símbolo de flecha derecha -->
                       Estudios
                    </button>
                </div>
            </div>                
            
            <div class="col-12">
                <h3 class="text-center">Lenguajes</h3>
                <div class="d-flex">
                    <div class="slider-container">
                        <img src="/Portafolio-Personal/images/html-5.png" alt="Html 5 image">
                        <img src="/Portafolio-Personal/images/css-3.png" alt="Css 3 image">
                        <img src="/Portafolio-Personal/images/javascript.png" alt="javascript image">
                        <img src="/Portafolio-Personal/images/python.png" alt="python image">
                        <img src="/Portafolio-Personal/images/flask.png" alt="flask image">
                        <img src="/Portafolio-Personal/images/html-5.png" alt="Html 5 image">
                        <img src="/Portafolio-Personal/images/css-3.png" alt="Css 3 image">
                        <img src="/Portafolio-Personal/images/javascript.png" alt="javascript image">
                        <img src="/Portafolio-Personal/images/python.png" alt="python image">
                        <img src="/Portafolio-Personal/images/flask.png" alt="flask image">
                        <img src="/Portafolio-Personal/images/html-5.png" alt="Html 5 image">
                        <img src="/Portafolio-Personal/images/css-3.png" alt="Css 3 image">
                        <img src="/Portafolio-Personal/images/javascript.png" alt="javascript image">
                        <img src="/Portafolio-Personal/images/python.png" alt="python image">
                        <img src="/Portafolio-Personal/images/flask.png" alt="flask image">
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="descripcion2">
                    <p> Aunque soy principiante, tengo una gran capacidad de aprendizaje, atención al detalle y pasión por crear soluciones útiles. 
                        ¡Estoy listo para asumir nuevos retos y crecer profesionalmente!
                    </p>
                </div>
            </div>
        </main>
    </div>

    <!-- Incluir Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/Portafolio-Personal/JS/Perfil.js"></script>
</body>
</html>
