<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Portafolio-Personal/styles/Projects.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projectos</title>
</head>
<body class="page">
   
    <button  id="go-back" class="btn-flecha">
        &#8594; <!-- Símbolo de flecha derecha -->
        Regresar a Inicio
    </button>
    <div class="container-fluid">
        <main>
            <div class="Titulo ">
                Mi Projectos
            </div>
            <div class="card " style="height: 520px;">
                <div class="card  d-flex flex-row  gap-md-2" style="width: 50rem;">
                    <img src="../images/entrada-salida-comfatolima.png" class="card-img-top" alt="interfaz comfatolima.png">
                    <div class="card-body">
                      <h5 class="card-title m-4"><span>Sistema De Registro</span> entrada y salida Comfatolima</h5>
                      <p class="card-text"> El Sistema de Registro de Entrada y Salida de Comfatolima permite un control eficiente de los horarios de acceso y salida de los empleados y visitantes en las instalaciones.
                         Este sistema facilita la organización de los turnos, mejora la seguridad y ofrece reportes detallados para la administración.</p>
                      <div class="icons">
                      <i class="fab fa-html5"><p>HTML</p></i> 
                      <i class="fab fa-css3-alt"><p>CSS</p></i> 
                      <i class="fab fa-js-square"><p>JavaScript</p></i> 
                      <i class="fab fa-python"><p>Python</p></i> 
                    </div>
                      <a href="#" class="btn btn-danger">Go somewhere</a>     
                    </div>
                  </div>
            </div>

            <div class="card " style="height: 520px;">
                <div class="card  d-flex flex-row  gap-md-2" style="width: 50rem;">
                    <img src="../images/freepik__the-style-is-candid-image-photography-with-natural__73252.jpeg" class="card-img-top" alt="interfaz comfatolima.png">
                    <div class="card-body">
                      <h5 class="card-title m-4" style="color: rgb(203, 26, 91);">Jinndo.co</h5>
                      <p class="card-text"> En Ejecuccion. Los Lenguajes que uso para este proyecto</p>
                      <div class="icons">
                      <i class="fab fa-html5"><p>HTML</p></i> 
                      <i class="fab fa-css3-alt"><p>CSS</p></i> 
                      <i class="fab fa-js-square"><p>JavaScript</p></i> 
                      <i class="fab fa-react"><p>React</p></i>
                    </div> 
                    </div>
                  </div>
            </div>

            <div class="skills">
              <div class="contenedor ">
              <h2>Experiencia</h2>
              <div class="enfoque-d-flex">
              <h3>Técnico en Sistemas</h3>
              <h4>Julio 2024 - Diciembre 2024 </h4>
              <p> Realicé labores de soporte técnico como instalación de sistemas operativos, programas de ofimática, mantenimiento preventivo y correctivo de equipos.
                 Además, inicié mi formación práctica en desarrollo web, creando páginas básicas con HTML y CSS, aplicando diseño responsivo con Flexbox y Bootstrap. Utilicé Git y GitHub para llevar control de versiones y compartir mis primeros proyectos.
                 Esta experiencia me permitió fortalecer mis bases en tecnologías de la información y comenzar a aplicar mis conocimientos en desarrollo front-end.</p>
            </div>
          </div>
          </div>

            <div class="skills">
              <div class="contenedor ">
              <h2>Skills</h2>
              <ul class="d-flex gap-2">
                <li>HTML5 semántico y bien estructurado.</li>
                <li> CSS3 con Flexbox, Grid y diseño responsive.</li>
                <li>Manejo básico de JavaScript (ES6), eventos y lógica simple.</li>
                <li>  Uso de Git y GitHub para control de versiones.</li>
                <li> Uso básico de DevTools para depuración visual.</li>
                <li>  Buenas prácticas básicas de accesibilidad.</li>
                <li> Portafolio personal funcional y adaptable.</li>
                <li>   En aprendizaje: consumo de APIs y fundamentos de React.</li>
              </ul>
            </div>
            </div>


<div class="redes">
  <div class="name">
    <h2>Redes Sociales</h2>
    <div class="iconos">

      <a href="https://wa.me/573224268857?text=Hola%20Geofrey%2C%20vi%20tu%20portafolio%20y%20me%20gustó%20mucho" target="_blank"> 
        <i class="fab fa-whatsapp"></i>
      </a>

          <a href="https://x.com/">
  <i class="fab fa-x-twitter"></i>
</a>

            <a href="https://www.github.com/codegeofrey/"><i class="fab fa-github"></i>
            </a>
    </div>
  </div>
</div>




        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/Portafolio-Personal/JS/Projects.js"> </script>

</body>
</html>