<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Portafolio-Personal/styles/skills.css">
    <title>Mis Skills</title>
</head>
<body class="page">
    <button id="go-back" class="btn-flecha">
        &#8592; <!-- Símbolo de flecha izquierda -->
        Regresar a Inicio
    </button>

    <div class="container py-5">
        <main>
            <div class="row d-flex">
               
                
                <!-- Mis Estudios -->
                <div class="contenido-right d-flex justify-content-around">
             <!-- Mis Estudios -->
<div class="contenido-right d-flex flex-column align-items-center text-center">
    <h1 class="Estudios ">Estudios</h1>
    <ul class="lista-estudios">
        <li><strong>Técnico en Sistemas</strong><br>Durante esta etapa adquirí una sólida base en tecnologías de la información, mantenimiento de hardware, redes básicas, ofimática, y fundamentos de programación. Participé activamente en proyectos escolares orientados a la solución de problemas tecnológicos en el entorno académico.</li>
        <li><strong>Tecnólogo en Análisis y Desarrollo de Software</strong><br>Profundicé mis conocimientos en el ciclo de desarrollo de software, abarcando análisis de requerimientos, diseño, desarrollo, pruebas e implementación de aplicaciones. He trabajado con lenguajes como Java, Python y JavaScript, así como con bases de datos relacionales. Además, he desarrollado competencias en metodologías ágiles como Scrum y herramientas de control de versiones como Git.</li>
        <li><strong>Adopción de Estrategias de Ciberseguridad</strong><br>Este curso me permitió comprender los principios fundamentales de la ciberseguridad y su importancia en la protección de datos sensibles. Aprendí a identificar riesgos y a implementar estrategias básicas de protección, fortaleciendo así mi perfil profesional en el ámbito del desarrollo seguro de software.</li>
    </ul>
</div>

                </div>
            </div>

            <!-- Aquí va la sección que debe tener el fondo blanco -->
            <section class="Curriculum">
                <h3 class="Enlace"> Mi Cv</h3>
                <a href="/Portafolio-Personal/Doc/Currículum vítae de Geofrey Salazar.pdf" download="Cv_Geofrey_Salazar.pdf" class="btn">
                    Descargar Curriculum Geofrey Salazar
                </a>
            </section>

        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/Portafolio-Personal/JS/skills.js"></script>
</body>
</html>
